*{
    padding:0rem;
    margin:0rem
}

html{
    font-size:62.5%
}
body{
    background-image: linear-gradient(to top right, #d4fc79 0%, #a6e3ae 100%);
    background-repeat: no-repeat;
    height: 84rem;
}
header{
    font-size: 5rem;
    text-transform: capitalize;
    font-family: arial;
    text-align: center;
    background-color: black;
    color:red
}
#game{
    height: 40rem;
    width: 80rem;
    border:solid black 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top:3rem
}
.gp{
    height: 23rem;
    width:23rem;
    border-radius: 100rem;
    object-fit:cover;
    cursor: pointer;
}
.gp:hover{
    box-shadow: 0.2rem  0.2rem  0.5rem black;
}
.score{
    display: flex;
    justify-content: center;
    gap:5rem;
    padding-top:4rem;
    margin-left:100rem;
    margin-top:-5rem
}
.player,.computer{
     font-size:5rem;
     font-weight: bold;
     text-align: center;
     text-transform: capitalize;
}
#msg{
    position: absolute;
    left:6rem;
    bottom: 5rem;
    background-color: yellow;
    font-size:6rem;
    border:solid black 0.3rem;
    width:65rem
}
#pl-score{
    font-size:7rem
}
#com-score{
    font-size:7rem
}